{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-primary">

        {% with messages = get_flashed_messages() %}
        {% if msg %}
        {{ msg }}
        {% endif %}
        {% endwith %}

        <h4 class="card-title">
          Cambiar contraseña
        </h4>
      </div>
      <div class="card-body">
      <br />
     <form role="form" method="post" action="/change-password">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                   {{ form.current_password(placeholder="Contraseña actual", class="form-control", type="password") }}
              </div>
            </div>
          </div>

          <br />
         <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                 {{ form.password(placeholder="Nueva contraseña", class="form-control", type="password") }}
              </div>
            </div>
          </div>

          <br />
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  {{ form.retry_password(placeholder="Reitere contraseña", class="form-control", type="password") }}
                </div>
            </div>
          </div>

          <br />
          <button type="submit" name="login" class="btn btn-primary pull-left">Cambiar contraseña</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}