{% extends "layouts/base.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel"><span class="accion"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>
                    ¿Esta seguro de <span class="accion"></span> el camino <span style="font-weight: bolder" id="name"></span> ?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="confirm()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Caminos de evacuación</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                    
                    {% if 'usuario_new' in session['permisos'] %}
                    <a href="{{ url_for('blueprint.way_add')}}" class="btn btn-primary">
                        <span class="material-icons">
                            add
                        </span>
                        Crear
                    </a>
                    {% endif %}
                    </div>
                    <div class="col-md-4">
                        <form action="{{ url_for('blueprint.way_list')}}" method="POST" id="wayPageForm">
                            <div class="input-group no-border">
                                {{ form.search(placeholder="Ingrese nombre del camino a buscar", class="form-control", type="text") }}
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                            <input type="hidden" value="1" name="page" id="page" />
                            <input id="wayId" name="wayId" type="hidden">
                            <div style="float: right" class="row">
                                {{ form.active(placeholder="Mostrar zonas despublicadas",type="checkbox" , style="margin-top: 2px; margin-right: 2px" , onclick="toggleInactive()") }}
                                {{ form.active.label }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">

                            <th>
                                Nombre
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Publicado
                            </th>
                            <th>
                                Acciones
                            </th>
                        </thead>
                        <tbody>
                            {% for way in ways.items %}
                            <tr>
                                <td>
                                    {{ way.name }}
                                </td>

                                <td>
                                    {{ way.description }}
                                </td>
                                <td>
                                    {% if way.published %}
                                    <a class="material-icons" href="{{ url_for('blueprint.publicar_despublicar_camino', id=way.id)}}">radio_button_checked
                                    </a>
                                    {% else %}
                                    <a class="material-icons" href="{{ url_for('blueprint.publicar_despublicar_camino', id=way.id)}}">radio_button_unchecked
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                
                                    {% if 'evacuacion_destroy' in session['permisos'] %}
                                    <a class="material-icons" href="" data-target="#customModal"
                                        onclick="showMessage('Eliminar','{{way.name}} ','{{way.id}}'); return false;">delete
                                    </a>
                                    {% endif %}
                                    {% if 'evacuacion_update' in session['permisos'] %}
                                    <a class="material-icons" href="{{ url_for('blueprint.way_edit', id=way.id)}}">edit</a>
                                    {% endif %}
                                    {% if 'evacuacion_show' in session['permisos'] %}
                                    <a class="material-icons" href="{{ url_for('blueprint.way_view', id=way.id)}}">forward</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination Links-->
    <div class="col-md-12">

        {% if ways.has_prev %}
        <a href="" class="btn btn-outline-primary" onclick="goToPage('{{ways.prev_num}}'); return false;">&laquo;</a>
        {% else %}
        <a href="#" class="btn btn-outline-dark">&laquo;</a>
        {% endif %}


        {% for page_num in ways.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if ways.page == page_num %}
        <a href="" onclick="goToPage('{{page_num}}'); return false;" class="btn btn-primary">
            {{ page_num }}
        </a>
        {% else %}
        <a href="" onclick="goToPage('{{page_num}}'); return false;" class="btn btn-outline-primary">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}

        {% if ways.has_next %}
        <a href="" onclick="goToPage('{{ways.next_num}}'); return false;" class="btn btn-outline-primary">&raquo;</a>
        {% else %}
        <a href="#" class="btn btn-outline-dark">&raquo;</a>
        {% endif %}

        <p class="text-left mt-3" class="btn btn-outline-dark">
            Mostrando página {{ ways.page }} de {{ ways.pages }}
        </p>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function showMessage(accion, name, id) {
        $(".accion").text(accion);
        $("#name").text(name);
        $("#wayId").val(id);
        $('#customModal').modal('show');
    }

    function toggleInactive() {
        $('#wayPageForm').submit();
    }

    function confirm() {
        $('#customModal').modal('hide');
        location.replace("/way_delet/" + $("#wayId").val());
    }

    function goToPage(page) {
        $('#page').val(parseInt(page));
        $('#active').val(active)
        $('#wayPageForm').submit();
    }

</script>
{% endblock javascripts %}