{% extends "layouts/base.html" %}

{% block title %} Page Zones {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<style>
    #map {
        width: 100%;
        height: 400px;
        position: relative;
        outline: none;
    }
</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Detalle del camino</h4>
            </div>
            <div class="card-body">
                <form id="mapaf" action="{{ url_for('blueprint.way_save_edit')}}" method="POST">
                    <input type="hidden" name="name" id="name" value="{{ nombre }}" />
                    <input type="hidden" name="inputjson" id="inputjson"/>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Nombre</label>
                                {{ nombre }}
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input class="form-control" style="width:100%" type="text"name="description" id="description" name="description" value="{{ descripcion }}">
                            </div>
                        </div>
                    </div>
                    <div id="map"></div>
                    <a class="btn btn-primary pull-right" href="{{ url_for('blueprint.way_list')}}">Volver</a>
                    <a class="btn btn-primary pull-right" onclick="confirm()">Guardar</a>
                    <a class="btn btn-primary pull-right" onclick="borrar()">Borrar camino</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script>
    var mymap = L.map('map').setView([-34.922883, -57.956317], 13);
    var polyline
    $('.leaflet-container').css('cursor', 'crosshair');

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZnJhbjEyNCIsImEiOiJja3Vvcm9xODcwYnQ0MnZwZ2xycmJlNmM4In0.fLYzh2yA4-jSF1ufvVi_mQ'
    }).addTo(mymap);

    mymap.on("click", function (event) {
      console.log(lin)
        latlong = []
        latlong.push(event.latlng.lat.toString())
        latlong.push(event.latlng.lng.toString())

        lin.push(latlong)
        document.getElementById("inputjson").value = JSON.stringify(lin);
        L.polyline(lin, { color: 'red' }).addTo(mymap);
    });

    var lin = []
    {% for punto in linea %}
        lin.push({{punto| safe }})
    {% endfor %}

    polyline = L.polyline(lin, {color: 'red'}).addTo(mymap);
    mymap.fitBounds(polyline.getBounds());


    function borrar() {
        lin = [];
        for(i in mymap._layers) {
        if(mymap._layers[i]._path != undefined) {
            try {
                mymap.removeLayer(mymap._layers[i]);
            }
            catch(e) {
                console.log("problem with " + e + m._layers[i]);
            }
        }
        }
    }



    function confirm() {
        console.log(lin.length)
        if (lin.length > 2)
            $('#mapaf').submit();
        else
           alert("Seleccionar coordenadas")
    }


</script>

{% endblock javascripts %}